guzum.sublime-workspace
moc_*.cpp
qrc_*.cpp
*.a
*.o
*.qm
src/ui_*.h
Makefile
.DS_Store

/guzum
/guzum.app
/scripts/guzum.icns
/scripts/guzum.iconset
/guzum.dmg
/.qmake.stash
/build-stamp
/builddir
/debian/files
/debian/guzum.debhelper.log
/debian/guzum.substvars
/debian/guzum

