[Desktop Entry]
Name=Guzum
GenericName=Guzum
Comment=Easy edit GnuPG encrypted text files
Exec=%1 --tray
#Icon=/usr/share/pixmaps/guzum.png
Terminal=false
Type=Application
Categories=Utility;Qt;
